<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-grid class="grid-class ion-no-padding">
    <cdk-virtual-scroll-viewport
      itemSize="448"
      minBufferPx="500"
      maxBufferPx="1350"
      class="ion-content-scroll-host"
    >
      <ion-list>
        <ion-item *cdkVirtualFor="let article of loadedArticles;index as i">
          <ion-row
            class="ion-padding-vertical ion-justify-content-center"
            
            [routerLink]="['/','storie-reggiane',article.uuid]"
            router-direction="forward"
          >
            <ion-col size="12" size-lg="3" size-md="5">
              <ion-text>
                <div *ngIf="i == 0; else smallTitleBlock">
                  <h1 class="ion-padding">{{article.title}}</h1>
                </div>
                <ng-template #smallTitleBlock>
                  <h2 class="ion-padding">{{article.title}}</h2>
                </ng-template>
                
                <h3 class="ion-padding-horizontal ion-no-margin">
                  STORIE REGGIANE
                </h3>
                <h5 class="ion-padding"><i>{{article.incipit}}</i></h5>
              </ion-text>
              <ion-img [src]="article.articleImageUrl" ></ion-img>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </ion-grid>
</ion-content>
