
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-grid class="grid-class ion-no-padding">
    <ion-row>
      <ion-col>
        <div #map style="height: 80vh; width: 100%;"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      
      <ion-list style="height: 20vh;">
        <ion-item>
          <ion-select placeholder="Seleziona una categoria" (ionChange)="handleFilter($event)">
            <div slot="label">Filtra <ion-text color="danger"></ion-text></div>
            <ion-select-option value="all">Tutti</ion-select-option>
            <ion-select-option value="punto_amico">Punti Amici</ion-select-option>
            <ion-select-option value="punto_interesse">Punti Interesse</ion-select-option>
            <ion-select-option value="punto_esperienza">Punti Esperienza</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
