

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-grid class="grid-class ion-no-padding">
    <ion-row class="ion-padding-vertical">
      <ion-col>
        <ion-text>
          <h1 class="ion-padding">{{loadedArticle.title}}</h1>
          <h3 class="ion-padding-horizontal ion-no-margin">
            STORIE REGGIANE
          </h3>
          <h5 class="ion-padding"><i>{{loadedArticle.incipit}}</i></h5>
        </ion-text>
        <ion-img src="{{loadedArticle.articleImageUrl}}"></ion-img>
         
        <ion-text class="ion-text-justify">
          <p style="padding-left: 5vw;padding-right: 5vw;">{{loadedArticle.articleText}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
