<ion-app >
  <ion-router-outlet></ion-router-outlet>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col class="ion-justify-content-center" size="10" size-lg="8">
            <ion-img src="assets/img/EmiliaLand_logo.svg" id="main-logo"></ion-img>
          </ion-col>
          <ion-col size="2"> 
            <ion-buttons class="ion-justify-content-center ion-padding" style="margin-right: 10vw;" >   
                  <ion-button (click)="onBack()" routerDirection="backward" *ngIf="showBackButton" color="tertiary">
                    <ion-icon name="arrow-back" class="main-menu-icons"></ion-icon>
                  </ion-button>
                  <ion-button routerLink="home" color="tertiary">
                    <ion-icon name="home-outline" class="main-menu-icons"></ion-icon>
                  </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-toolbar>
  </ion-header>
  <ion-tabs >
    <ion-tab-bar slot="bottom" *ngIf="menuVisible" class="ion-text-center" color="primary">
      <ion-tab-button tab="recipies" >
        <ion-label>Ricette</ion-label>
        <ion-icon name="fast-food-outline" class="ion-padding"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="reggiani-illustri" >
        <ion-label>VIP</ion-label>
        <ion-icon name="star-outline" class="ion-padding"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="storie-reggiane" >
        <ion-label>Storie</ion-label>
        <ion-icon name="book-outline" class="ion-padding"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="map" >
        <ion-label>Mappa</ion-label>
        <ion-icon name="locate-outline" class="ion-padding"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
  
</ion-app>