.grid-class {
    margin-top: 18vw;
  }
  
  ion-row {
    border-color: #bec0c969;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
  }

  .ion-padding{
    padding: 5px;
  }
  
  .ion-padding-horizontal{
    padding: 5px;
  };