<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-grid class="grid-class ion-no-padding">
    <ion-row class="ion-padding-vertical ion-justify-content-center" *ngFor="let article of loadedArticles" [routerLink]="['/',article.category,article.uuid]">
      <ion-col size="12" size-lg="3" size-md="5">
        <ion-text>
          <h1 class="ion-padding">{{article.title}}</h1>
          <div *ngIf="article.category === 'recipies'; else storiesBlock">
            <h3 class="ion-padding-horizontal ion-no-margin">RICETTE REGGIANE</h3>
          </div>
          
          <ng-template #storiesBlock>
            <div *ngIf="article.category === 'storie-reggiane'; else otherBlock">
              <h3 class="ion-padding-horizontal ion-no-margin">STORIE REGGIANE</h3>
            </div>
          </ng-template>
          
          <ng-template #otherBlock>
            <h3 class="ion-padding-horizontal ion-no-margin">REGGIANI ILLUSTRI</h3>
          </ng-template>
          <h5 class="ion-padding"><i>{{article.incipit}}</i></h5>
        </ion-text>
          
          <ion-img  src={{article.articleImageUrl}} class="articles-image"></ion-img>
        
      </ion-col>
    </ion-row >
    

  </ion-grid>
  


</ion-content>