

.sponsor-row{
  border: none;
}

.no-padding-item{
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --padding-start:0px;
  --inner-padding-start:0px;
}

.main-article{
  padding-left: 3vw;
  padding-right: 3vw;

}










